.messages {
  display: flex;
  flex-direction: row;
}

.messages-list {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  height: 100%;
  margin-left: 40px;
}

.messages-list__name {
  margin: 0;
  padding: 0;
  margin-right: 30px;
  
}

.messages-list__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: center;
  width: 100%;
}

.messages-list__list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border-radius: 30px;
  padding-right: 10px;
}

.messages-list__list-item_selected {
  background-color: #434343;
}

.messages-list__list-item__photo {
  width: 58px;
  height: 58px;
  border-radius: 100%;
  object-fit: cover;
}

.messages-list__list-item__name {
  margin: 0;
  padding: 0;
  margin-left: 31px;
}

.messages-list__list-item__indicator {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: #34FF12;
  margin-left: auto;
}


.messages-chat {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  min-width: 450px;
  height: 100%;
  border-left: 1px solid #434343;
  position: fixed;
  right: 0;
}

.messages-chat-header {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid #434343;
  align-items: center;
  padding-left: 29px;
}

.messages-chat-header__photo {
  width: 58px;
  height: 58px;
  border-radius: 100%;
  object-fit: cover;
}

.messages-chat-header__name {
  margin: 0;
  padding: 0;
  margin-left: 48px;
}

.messages-chat-header__indicator {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #34FF12;
  margin-left: auto;
  margin-right: 56px;
}

::-webkit-scrollbar {
  width: 0;
}

.messages-chat-chat {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  max-width: 430px;
  margin-left: 10px;
  overflow-y: auto;
}

.messages-chat-chat-message {
  margin: 0;
  padding: 0;
  background-color: #434343;
  border-radius: 23px;
  max-width: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: right;
  margin-bottom: 5px;
    margin-top: 5px;
}

.messages-chat-chat-message-time {
  font-size: 10px;
  margin-top: 5px;
  margin-bottom: 0;
}

.messages-chat-chat-message-owners {
  background-color: lightskyblue;
  margin-left: auto;
  color: black;
}

.chat-input-container {
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 10px;
  position: relative;
}

.chat-input-container__input {
  display: flex;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  height: 47px;
  border: 1px solid #434343;
  border-radius: 23px;
  width: 80%;
  padding-left: 20px;
  color: #bfb0a3;
}

.chat-input-container-icon {
  position: absolute;
  top: 13px;
  right: 50px;
  width: 24px;
  cursor: pointer;
}

.chat-input-container-icon:nth-child(2) {
  top: 13px;
  right: 84px;
}

.chat-input-container-icon:nth-child(3) {
  top: 13px;
  right: 118px;
}

.username-search{
  width: 157px;
  height: 30px;
  font-size: 14px;
}

.username-search-icon{
  top: 2px;
  right: 4px;
}

.messages-list__name-container{
  margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 45px;
    max-width: 340px;
    align-self: center;
    width: 100%;
    display: flex;
}