.signin__button{
  color: black;
  padding: 0;
  background: #4285F4;
  color: white;
  border: 0;
  border-radius: 2px;
  margin-top: 208px;
  width: 358px;
  height: 45px;
  margin-bottom: 15px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  text-align: center;
  align-self: center;
  cursor: pointer;
  margin-left: auto;
  width: 396px;
}

@media only screen and (max-width: 767px) {
  .signin__button {
    max-width: 260px;
    margin-top: 296px;
    margin-bottom: 13px;
    font-size: 12px;
  }
}

.signin__button_disabled{
  background: #F8F8F8;
  color: #202020;
  cursor: auto;
}