.demoUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-width: 850px;
  margin-left: 40px;
  color: bisque;
}

.demoUser__container {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  margin-top: 40px;
}

@media screen and (max-width: 855px) {
  .demoUser__container {
    flex-direction: column;
    align-items: center;
  }
}

.demoUser__container-photo {
  width: 145px;
  height: 145px;
  border-radius: 100px;
  object-fit: cover;
}

.demoUser__container-info {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.demoUser__container-name-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.demoUser__container-info-name {
  margin: 0;
  padding: 0;
}

.demoUser__container-info-button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
  outline: none;
  background-color: #3B393C;
  width: 139px;
  height: 31px;
  border-radius: 10px;
  color: #bfb0a3;
  margin-left: 43px;
}

.demoUser__container-subs-box {
  display: flex;
  flex-direction: row;
  gap: 23px;
  margin-top: 30px;
}

.demoUser__container-subs-box-item {
  margin: 0;
  padding: 0;
}

.demoUser__container-text {
  margin: 0;
  padding: 0;
  margin-top: 25px;
}


.demoUser__photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 32px;
  margin-top: 30px;
}

@media screen and (max-width: 1027px) {
  .demoUser__photos {
    grid-template-columns: repeat(2, 282px);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .demoUser__photos {
    grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (max-width: 855px) {
  .demoUser__photos {
    grid-template-columns: repeat(2, 282px);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .demoUser__photos {
    grid-template-columns: 282px;
    grid-template-rows: repeat(6, 1fr);
    gap: 18px 0;
  }
}

.demoUser__photos img {}

.demoUser__container-avatar-button {
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 50%;
}

.buttons-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 139px;
  margin-left: 30px;
  gap: 5px;
}

.back-button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
  outline: none;
  background-color: #3B393C;
  width: 139px;
  height: 31px;
  border-radius: 10px;
  color: #bfb0a3;
}

.back-button:hover{
  opacity: .8;
}

.chat-button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
  outline: none;
  background-color: #3B393C;
  width: 139px;
  height: 31px;
  border-radius: 10px;
  color: #bfb0a3;
}

.chat-button:hover{
  opacity: .8;
}

.subscribe-button{
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
  outline: none;
  background-color: #8f3636;
  width: 139px;
  height: 31px;
  border-radius: 10px;
  color: #bfb0a3;
}

.subscribe-button:hover{
  opacity: .8;
}

.unsubscribe-button{
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
  outline: none;
  background-color: #3B393C;
  width: 139px;
  height: 31px;
  border-radius: 10px;
  color: #bfb0a3;
}

.unsubscribe-button:hover{
  opacity: .8;
}