.bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    max-width: 180px;
    border-right: 1px solid #434343;
}

@media only screen and (max-width: 900px) {
  .bar {
    position: fixed;
    background-color: #120f0f;
    height: 100vh;
    z-index: 99999;
  }
}


.logo {
  width: 100%;
}

.logo-image{
  width: 100%;
}

.bar__nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.bar__nav-link {
  display: flex;
  align-items: center;
  color: #bfb0a3;
  text-decoration: none;
  margin-bottom: 10px;
  width: 100%;
  padding-bottom: 6px;
}

.bar__nav-link-selected{
  border-bottom: 1px solid bisque;
}

.bar__nav-link-icon {
  margin-right: 10px;
  height: 24px;
}

.last-link{
  margin-top: 350px;
}

.bar__nav-link-box{
  width: 150px;
  display: flex;
  flex-direction: row;
}
  